{% extends 'base.html' %}

{% block title %}Inspire-Me{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-1">Explore</h1>
    <div class="row justify-content-evenly mt-5">
        <div class="col-6 mt-5">
            <a role="button" class="btn btn-outline-primary btn-lg btn-block" href="{{url_for('show_search_met')}}"
                style="width:100%;">Metropolitan Museum of Art</a>
        </div>
        <!-- inactive -->
        <div class="row justify-content-evenly mt-5">
            <h5> Coming Soon</h5>
            <div class="row justify-content-evenly">
                <div class="col-6">
                    <a role="button" class="btn btn-outline-primary btn-lg btn-block disabled" href="#"
                        style="width:100%;">The Art Institute of Chicago</a>
                </div>
                <div class="col-6">
                    <a role="button" class="btn btn-outline-primary btn-lg btn-block disabled" href="#"
                        style="width:100%;">Rijksmuseum</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}