{% extends 'base.html' %}

{% block title %}&#x1F4A1;{% endblock %}

{% block content %}

<!-- add note button -->

<div class="container">
    <div class="row my-3">
        <div class="col">
            <button class="btn btn-outline-primary float-end" data-bs-toggle="modal"
                data-bs-target="#add-note-modal">Add A Note</button>
        </div>
    </div>

    <!-- Add note form modal  -->

    <div class="modal" id="add-note-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add A Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% include 'forms/note.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- user inspo list -->
    <!-- fix this, include w/ source -->

    {% for inspo in user.inspos %}
    <div class="card mb-2">
        <div class="card-body note-{{inspo.id}}">
            {{inspo.notes}}
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-outline-danger float-end" data-bs-toggle="modal"
                data-bs-target="#confirm-delete-modal-{{inspo.id}}"><i class="fa-regular fa-trash-can"></i></button>
            <button class="btn btn-sm btn-outline-secondary float-end edit-button" data-bs-toggle="modal"
                data-bs-target="#edit-note-modal-{{inspo.id}}" data-inspo-id="{{inspo.id}}"><i
                    class="fa-solid fa-pen-to-square"></i></button>
        </div>
    </div>

    <!-- confirm delete modal -->

    <div class="modal" id="confirm-delete-modal-{{inspo.id}}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</a>
                    <a type="button" class="btn btn-outline-danger"
                        href="{{url_for('delete_inspo', inspo_id=inspo.id)}}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit note form modal -->

    <div class="modal" id="edit-note-modal-{{inspo.id}}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="edit-form-{{inspo.id}}">
                        <input type="hidden" id="inspo_id" name="inspo_id" value="{{inspo.id}}">
                        {% include 'forms/note.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}